<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data"
      layout:decorate="~{fragments/workspace}">
<head>
  <title>WordGame Management Properties</title>
</head>
<body>
<div layout:fragment="content" class="container">

  <div class="actions-panel">
    <h4>
      properties.html
    </h4>

    <div class="actions">
      <span>actions</span>
    </div>
  </div>

  <div class="page-table">

  </div>
</div>
</body>
</html>