server:
  port: 8051
  compression:
    enabled: true
    min-response-size: 1KB
  http2:
    enabled: true

spring.servlet.multipart.maxFileSize: 10MB
spring.servlet.multipart.maxRequestSize: 10MB

spring.main.allow-bean-definition-overriding: true
spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation: true
management.metrics.binders.hystrix.enabled: false

logging:
  level:
    ROOT: INFO

spring:
  thymeleaf:
    enabled: true
  jpa:
    #optional - show SQL statements in console.
    #show-sql: true
    properties:
      javax:
        persistence:
          sharedCache:
            #required - enable selective caching mode - only entities with @Cacheable annotation will use L2 cache.
            mode: ENABLE_SELECTIVE
      hibernate:
        #optional - enable SQL statements formatting.
        #format_sql: true
        #optional - generate statistics to check if L2/query cache is actually being used.
        #generate_statistics: true
        cache:
          #required - turn on L2 cache.
          use_second_level_cache: true
          #optional - turn on query cache.
          use_query_cache: true
          region:
            #required - classpath to cache region factory.
            factory_class: org.hibernate.cache.jcache.JCacheRegionFactory
        javax:
          persistence:
            sharedCache:
              mode: ALL
          cache:
            missing_cache_strategy: create
---
spring:
  profiles:
    active: default
  flyway:
    ignore-missing-migrations: true
    outOfOrder: true
    jpa:
      hibernate:
        ddl-auto: validate
  #Данные подключения к БД
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/wordgamedb
    type: com.zaxxer.hikari.HikariDataSource
    username: postgres
    password: postgres
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 10
dictionary:
  source: opt/dictionary/words.txt
rfc:
  raw:
    generator: false
    count: 1000
  buffered:
    generator: false
    count: 1000
---
spring:
  config:
    activate:
      on-profile: test
  flyway:
    ignore-missing-migrations: true
    outOfOrder: true
    jpa:
      hibernate:
        ddl-auto: validate
  #Данные подключения к БД
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:testdb
    username: sa
    password: password
    atabase-platform: org.hibernate.dialect.H2Dialect
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 10
dictionary:
  source: opt/dictionary/words.txt
rfc:
  raw:
    generator: false
    count: 0
  buffered:
    generator: false
    count: 0

---
spring:
  config:
    activate:
      on-profile: prod
  flyway:
    ignore-missing-migrations: true
    outOfOrder: true
    jpa:
      hibernate:
        ddl-auto: validate
  #Данные подключения к БД
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/wordgame
    type: com.zaxxer.hikari.HikariDataSource
    username: postgres
    password: postgres
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 100
dictionary:
  source: /opt/dictionary/words.txt
rfc:
  raw:
    generator: false
    count: 0
  buffered:
    generator: false
    count: 0
